.container__buy {
    max-width: 1440px;
    margin: 0 auto;
}

.buy {
    display: flex;
    gap: 105px;
    margin-bottom: 150px;
}

.buy__image {
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.buy__title {
    font-weight: 400;
    font-size: 40px;
    margin: 50px 0;
}

.buy__slider-title {
    font-size: 24px;
    font-weight: 400;
}

.buy__slider-text {
    font-size: 16px;
}

.buy__slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* добавим отступы между карточками */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 428px;
    width: 467px;
    padding-right: 10px;
    /* небольшой отступ для скролла */
    scrollbar-width: thin;
    /* тонкий скроллбар для Firefox */
    scroll-behavior: smooth;

}

.buy__card {
    scroll-snap-align: start;
    background: #f5f5f5;
    border: 1px solid #000;
    padding: 30px;
    min-height: 184px;
    box-sizing: border-box;
    flex-shrink: 0;
}


@media (max-width: 1439px) {
    .buy {
        gap: 60px;
    }

    .buy__slider {
        width: 100%;
    }

    .buy img {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 1023px) {
    .buy {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .buy img {
        width: 80%;
    }

    .buy__slider {
        width: 90%;
        height: auto;
        max-height: 428px;
    }

    .buy__title {
        font-size: 32px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .buy {
        flex-direction: column;
        padding: 0 15px;
        gap: 30px;
    }

    .buy img {
        width: 100%;
        margin-top: 20px;
    }

    .buy__slider {
        width: 100%;
        padding-right: 5px;
    }

    .buy__title {
        font-size: 28px;
        margin: 30px 0 20px;
    }

    .buy__slider-title {
        font-size: 20px;
    }

    .buy__slider-text {
        font-size: 14px;
    }

    .buy__card {
        padding: 20px;
    }
}

@media (max-width: 1250px) {
    .buy{
        margin-bottom: 140px;
    }
}


@media (max-width: 1023px) {
    .buy {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .buy img {
        max-width: 100%;
    }

    .buy__slider {
        width: 100%;
        height: auto;
        max-height: 428px;
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .buy__title {
        font-size: 30px;
    }

    .buy__slider-title {
        font-size: 20px;
    }

    .buy__slider-text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .buy__title {
        font-size: 26px;
        margin: 30px 0;
    }

    .buy__slider {
        padding-right: 0;
    }

    .buy__card {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    .buy__slider-title {
        font-size: 18px;
    }

    .buy__slider-text {
        font-size: 13px;
    }

}


