@import 'basic/_reset.css';
@import 'basic/_global.css';
@import 'components/_header.css';
@import 'components/_footer.css';
@import 'index/_fresh.css';
@import 'index/_review.css';
@import 'index/_product.css';
@import 'index/_welcome.css';
@import '_about.css';
@import 'assortment/_assortment.css';
@import 'assortment/_assortment__pastry-more.css';
@import '_buy.css';
@import '_stocks.css';

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";


/* manrope-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}