.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 150px;
}

.welcome h2 {
    font-size: 32px;
    max-width: 620px;
    font-weight: 400;
    margin-bottom: 40px;
}

.welcome img {
    width: 100%;
    border-radius: 10px;
}

.welcome__description {
    max-width: 660px;
    margin-bottom: 64px;
}

.link {
    margin-right: 90px;
    color: #000000;
}

.link__more{
    border-bottom: 0.5px solid #000000;
}