.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 150px;
}

.welcome h2 {
    font-size: 32px;
    max-width: 620px;
    font-weight: 400;
    margin-bottom: 40px;
}

.welcome img {
    width: 100%;
    border-radius: 10px;
}

.welcome__description {
    max-width: 660px;
    margin-bottom: 64px;
}

.link {
    margin-right: 90px;
    color: #000000;
}

.link__more{
    border-bottom: 0.5px solid #000000;
}

@media(max-width: 1238px) {
    .welcome__description{
        margin-bottom: 30px;
    }
}

@media(max-width: 1132px){
    .welcome__description{
        margin-bottom: 40px;
        font-size: 14px;
    }

    .welcome h2{
        margin-bottom: 25px;
    }
}

@media(max-width: 1010px){
    .welcome__description{
        font-size: 13px;
        margin-bottom: 35px;
    }
    .welcome h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media(max-width: 957px){
    .welcome {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
        margin-bottom: 80px;
    }
}