* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}