.assortment__card-more {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 60px;
    align-items: start;
}

.assortment__left {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.assortment__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.assortment__more-img {
    max-width: 100%;
    height: auto;
    margin-top: auto;
}

.assortment__offer-card img{
    object-fit: contain;
}

.assortment__subtitle {
    font-size: 20px;
    margin-bottom: 25px;
}

.assortment__card-more h2 {
    font-size: 32px;
    margin-bottom: 27px;
}

.assortment__card-more p:not(:last-child) {
    margin-bottom: 25px;
}

.assortment__btn {
    background: #894e21;
    color: #ffe2cd;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    margin: 0;
    text-align: center;
}

.assortment__price {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: auto;
}

h2 {
    font-size: 30px;
}

.assortment__offer-card {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 50px 0;
}

.assortment__offer-item {
    width: 380px;
    height: 350px;
    flex-direction: column;
    display: flex;
}

.assortment__offer-item h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.assortment__offer-item p {
    font-size: 14px;
    color: #929292;
}

.assortment__cupcakes-row {
    margin: 50px 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 130px;
}

.assortment__cake-row {
    margin: 50px 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: 100px;
}

@media (max-width: 1377px) {
    .assortment__offer-item {
        width: 380px;
    }

    .assortment__offer-card {
        gap: 30px;
    }

    .assortment__card-more p:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media (max-width: 1299px) {
    .assortment__offer-item {
        width: 340px;
    }

    .assortment__more-img {
        width: 510px;
    }
}

@media (max-width: 1171px) {
    .assortment__offer-item {
        width: 300px;
        height: 340px;
    }

    .assortment__more-img {
        width: 480px;
    }

    .assortment__card-more p {
        font-size: 15px;
    }
}

@media (max-width: 1059px) {
    .assortment__offer-item {
        width: 280px;
    }

    .assortment__card-more p {
        font-size: 14px;
    }

    .assortment__card-more {
        gap: 30px;
    }

    .assortment__card-more h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 999px) {
    .assortment__offer-item {
        width: 250px;
    }

    .assortment__card-more p {
        font-size: 13px;
    }

    .assortment__card-more h2 {
        font-size: 27px;
        margin-bottom: 10px;
    }

    .assortment__more-img {
        width: 415px;
    }
}

@media (max-width: 909px) {
    .assortment__offer-item {
        width: 220px;
        height: 330px;
    }

    .assortment__card-more p {
        font-size: 12px;
    }

    .assortment__offer-item h3 {
        font-size: 19px;
    }

    .assortment__more-img {
        width: 350px;
    }

    .assortment__card-more h2 {
        font-size: 25px;
    }

    .assortment__offer-item p {
        font-size: 12px;
    }

    .assortment__btn {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 125px;
    }

    .assortment__offer-card {
        gap: 23px;
    }
}

@media (max-width:807px) {
    .assortment__offer-item {
        width: 200px;
        height: 325px;
    }

    .assortment__offer-item p {
        font-size: 11px;
    }

    .assortment__offer-card {
        gap: 20px;
    }
}

@media (max-width:750px) {
    .assortment__card-more,
    .assortment__offer-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        text-align: center;
    }

    .assortment__offer-item p {
        font-size: 14px;
    }

    .assortment__offer-item {
        height: 340px;
        width: 318px;
    }

    .assortment__right {
        align-items: center;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    .assortment__price {
        justify-content: center;
    }
}