.assortment__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 55px;
}

.assortment__card {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 70px;

}

.assortment__card-item {
    max-width: 380px;
    height: 325px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

.assortment__card-item h3 {
    font-weight: 400;
    font-size: 20px;
}

.assortment__card-item p {
    color: #929292;
    font-size: 14px;
}

.assortment-img {
    height: 200px;
    width: 380px;
    object-fit: cover;
}

.assortment-more {
    margin-top: auto;
}

@media (max-width: 1380px) {
    .assortment__card-item {
        max-width: 378px;
    }
}

@media (max-width: 1373px) {
    .assortment__card-item {
        max-width: 360px;
    }

    .assortment-img {
        height: 178px;
    }
}

@media (max-width: 1319px) {
    .assortment__card-item {
        max-width: 355px;
    }

    .assortment__card {
        gap: 65px;
    }
}

@media (max-width: 1294px) {
    .assortment__card-item {
        height: 350px;
        max-width: 320px;
    }

    .assortment__offer-item {
        width: 350px;
    }

    .assortment__offer-card {
        gap: 40px;
    }

}

@media (max-width: 1189px) {
    .assortment__card-item {
        max-width: 300px;
    }

    .assortment__card {
        gap: 50px;
    }
}

@media (max-width: 1109px) {
    .assortment__card-item {
        max-width: 270px;
    }
}

@media (max-width: 1019px) {
    .assortment__card-item {
        height: 335px;
        max-width: 255px;
    }

    .assortment-img {
        height: 160px;
    }

    .assortment__card {
        gap: 25px;
    }

    .assortment__title {
        margin-top: 50px;
    }
}

@media (max-width: 960px) {
    .assortment__card-item {
        height: 335px;
        max-width: 345px;
    }

    .assortment-img {
        height: 183px;
    }
}

@media (max-width: 814px) {
    .assortment__card-item {
        height: 345px;
        max-width: 315px;
    }
}


@media (max-width: 754px) {
    .assortment__card-item {
        height: 345px;
        max-width: 290px;
    }
}

@media (max-width: 704px) {
    .assortment__card-item {
        height: 340px;
        max-width: 260px;
    }
}

@media (max-width: 660px) {
    .assortment__card-item {
        height: 330px;
        max-width: 380px;
    }
}

@media (max-width: 626px) {
    .assortment__title {
        font-size: 38px;
    }

    .link,
    .product__link-active {
        font-size: 14px;
    }

    .assortment__card-item p {
        font-size: 13px;
    }

    .assortment__card-item h3 {
        font-size: 18px;
    }
}

@media (max-width: 595px) {
    .link {
        margin-right: 50px;
    }

    .product__link-active {
        margin-right: 50px;
    }

    .assortment__title {
        font-size: 37px;
    }
}

@media (max-width: 475px) {
    .product__link-active {
        margin-right: 45px;
    }

    .link {
        margin-right: 45px;
    }
}

@media (max-width: 460px) {
    .product__link-active {
        margin-right: 40px;
    }

    .link {
        margin-right: 40px;
    }
}

@media (max-width: 445px) {
    .product__link-active {
        margin-right: 30px;
    }

    .link {
        margin-right: 30px;
    }
}

@media (max-width: 415px) {
    .product__link-active {
        margin-right: 23px;
        font-size: 13px;
    }

    .link {
        margin-right: 24px;
        font-size: 13px;
    }

    .assortment__card-item {
        height: 317px;
    }
}

@media (max-width: 380px) {
    .product__link-active {
        font-size: 12px;
    }

    .link {
        font-size: 12px;
    }
}