footer {
  background: #ffa768;
  padding: 1rem 2rem;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer__logo {
  margin-right: 83px;
  align-items: center;
}

.footer__social-icons {
  margin-top: 35px;
}

.footer__contact {
  margin-top: 20px;
}

.vk {
  margin-right: 20px;
}

.footer__contact-items {
  margin-top: 15px;
}

.footer__link {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 345px;
  justify-content: end;
  margin: 57px 0;
}
