.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.footer {
  background: #ffa768;
}

.footer__link-items {
  font-size: 18px;
}

.footer__link {
  gap: 10px;
  display: grid;
}

.footer__logo {
  object-fit: contain;
}

.footer__social {
  gap: 20px;
  display: flex;
}

.footer__contact ul{
  gap: 20px;
  display: grid;
}

.footer__contact-items:last-child {
  color: #585252;
}

@media (max-width: 1250px) {
  .footer__logo {
    height: 183px;
  }
}

@media (max-width: 1023px) {
  .footer__container {
    gap: 40px;
  }

  .footer__social {
    gap: 10px;
  }
}

@media (max-width: 927px) {
  .footer__social-link a {
    font-size: 15px;
  }

  .footer__social-icons {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 891px) {
  .footer__container {
    gap: 25px;
  }

  .footer__logo {
    height: 155px;
  }
}

@media (max-width: 804px) {
  .footer__contact-items {
    font-size: 15px;
  }
}

@media (max-width: 791px) {
  .footer__logo {
    height: 150px;
  }

  .footer__container {
    gap: 20px;
  }
}

@media (max-width: 772px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__contact {
    margin-left: 0;
  }
}