.footer__container {
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.footer {
  background: #ffa768;
}

.footer__links-right {
  text-align: right;
}

.footer__link-items {
  font-size: 18px;
}

.footer__link-items:not(:last-child) {
  margin-bottom: 10px;
}

.footer__info-items:not(:last-child) {
  margin-bottom: 15px;
}

.footer__logo {
  margin-right: 83px;
  object-fit: contain;
}

.footer__social-icons:not(:last-child) {
  margin-right: 20px;
}

.footer__contact-items {
  margin-bottom: 15px;
}

.footer__contact-items:last-child {
  color: #585252;
}

.footer {
  margin-top: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1250px) {
  .footer__logo {
    height: 183px;
  }

  .footer__social-icons {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .footer__social-link {
    margin-bottom: 10px;
  }
}

@media (max-width: 1023px) {
  .footer__container {
    gap: 40px;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .footer__links-right {
    margin-left: auto;
    text-align: right;
  }

  .footer__social-icons {
    gap: 10px;
  }
}

@media (max-width: 927px) {
  .footer__social-link a {
    font-size: 15px;
  }

  .footer__social-icons {
    width: 47px;
    height: 47px;
  }
}

@media (max-width: 891px) {
  .footer__container {
    gap: 25px;
  }

  .footer__logo {
    height: 155px;
  }
}

@media (max-width: 804px) {
  .footer__contact-items {
    font-size: 15px;
  }
}

@media (max-width: 791px) {
  .footer__logo {
    height: 150px;
  }

  .footer__container {
    gap: 20px;
  }
}

@media (max-width: 772px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__contact {
    margin-left: 0;
  }
}