.nav {
    top: 0;
    width: 100%;
    padding: 0 1rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 110px;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: #8b4513;
    text-decoration: none;
    font-size: 20px;
    background-color: #843b00;
    border-radius: 26px;
    color: #ffe2cd;
    padding: 12px 20px;
    height: 50px;
    transition: all 0.3s ease;
}

.nav-link:active {
    color: #8b4513;
    background-color: #ffe2cd;
}

.hero {
    height: 100vh;
    /* сигма */
    background-image: url("flour-bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: #8b4513;
    font-size: 4rem;
    font-family: "Montserrat";
    font-weight: 400;
}







/* .menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header__mobile {
    display: none;
    position: fixed;
    top: 0;
    padding: 120px 15px 40px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s;
    background-color: aliceblue;
}

.header__mobile.active {
    transform: translateX(0);
} */



@media (max-width: 1250px) {
    .nav-link {
        font-size: 18px;
    }
}

@media (max-width: 1023px) {
    .nav-menu {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .nav-link {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .nav-logo {
        width: 90px;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px;
    }
}